{% raw %}{% extends "app_base/home.html" %}
{% load org_urls %}

{% block navbar_title %}Dashboard{% endblock navbar_title %}
{% block page_title %}Dashboard{% endblock page_title %}
{% block page_subtitle %}
  Dashboard Text
{% endblock page_subtitle %}

{% block page_actions %}
  <button class="btn btn-ghost rounded-xl">Secondary action</button>
  <button class="btn btn-primary rounded-xl">Primary action</button>
{% endblock page_actions %}

{% block content %}

{% endblock content %}
{%- endraw %}
